/* Main styling */
body {
  padding:20px 10px;
  font-family: "Roboto", sans-serif;
  font-size:10pt;
  min-width:300px;
  max-width:740px;
  margin:0;
}

.container {
  overflow: hidden;
  outline: 1px solid lightgray;
  min-width:280px;
}

.content {
  padding: 10px;
  display:none;
}

.tabcontainer{
  width:100%;
  min-width:280px;
}

.tabs {
  font-size:12pt;
  outline: 1px solid lightgray;
  height:50px;
  max-width:768px;
  white-space:nowrap;
  overflow-x: auto;
  background: white;
}
.tabs ul{
  list-style: none;
  padding:5px;
  margin:5px;
}
.tabs li{
  display:inline-block;
  padding:0;
}

.tabs li a{
  height:100%;
  text-decoration:none;
}
.tab{padding:5px 20px;margin:0;}
.tabs li a:hover{
  background-color:lightgray;
}
.tabs .active a
{
  background-color:#BBBBBB;
  font-weight:bold;
}


/* CSS components */
/* CP Toasts */
.toast {
  max-width:75%;
  position:fixed;
  top:10px;
  right:10px;
  background-color: #383838;
  color: #F0F0F0;
  font-size: 15px;
  padding:10px;
  text-align:center;
  border-radius: 2px;
}
/* Refresh button */
.corner{
  display:block;
  outline:1px solid lightgray;
}
.refresh {
  border:none;
  padding:5px;
}
.refresh:hover{
  cursor:pointer;
}
/* Copy-paste textarea */
.cp-target{
  width:10px;
  border:none;
  resize:none;
  position:fixed;
  top:-100px;
}
/* Overview */
#overview{
  color:black;
}
.overview table{
  width:100%;
}
.overview th{
  background-color:#383838;
  color:#F0F0F0;
}
.overview tr{
  text-align:center;
}
.overview tr:nth-child(even) {
  background-color:lightgray;
}
.overview tr:nth-child(odd) {
  background-color:#BBBBBB;
}
.table-first{
  min-width:90px;
  width:50%;
}
.table-second{
  min-width:70px;
  max-width:125px;
}
.table-thirds{
  min-width:30px;
  max-width:100px;
}
.table-small{
  min-width:30px;
}
.btn{width:100%;margin:0;}

/* CONTENT */
/* Summary */
h1{
  margin:0;
}
.topkek{
  display:block;
  height:200px;
  margin-bottom:10px;
}
.topkek img{
  max-width:200px;
  display:none;
  float:left;
  background-color:gray;
}
.notimage{
  float:left;
}
.head{
  display:block;
  height:35px;
}
.neck{
  display:block;
  height:35px;
}
.clicky{
  display:inline;
  float:right;
}
.details{
  display:block;
}
.block{
  padding-top:10px;
  margin-right:10px;
  display:block;
}
.block table{
  border:none;
  border-collapse:collapse;
}
.block th,
.block td{
  border-bottom: 1px solid lightgray;
}
.block th{font-weight:normal;}
.block td:first-child,
.block td:nth-child(n+4){
  border-right: 1px solid lightgray;
}
.block th:first-child,
.block th:last-child,
.block th:nth-child(7),
.block td:last-child,
.block td:nth-child(7){
  border:none;
}
.block td:first-child{
  border-bottom:none;
}
.block td:last-child{
  text-align:right;
}
.bwuh{
  width:100%;
  text-align:center;
}
.colhead{
  text-align: right;
  width: 60px;
  padding-right:5px;
}
.blonk{
  min-width:10px;
}
.shr1nk{
  display:none;
}
/* Toggle */
.toggle-heading{
  margin:0;
  background-color:#383838;
  color:white;
  border-bottom: 1px solid white;
  text-align:center;
  padding:5px 0;
  font-size:11pt;
}
.toggle-heading:hover{
  cursor:pointer;
}
.toggle-content{
  display:none;
  padding:10px 0;
  margin-bottom:10px;
  border: 1px lightgray solid;
  border-top:none;
}
/* About */
.aboot{
  padding-left: 10px;
  padding-right: 10px;
}
.imgcontainer{
  width:100%;
}
.aboot img{
  display:block;
  margin:5px auto;
}
.toggle-content p{
  margin-top:0;
  font-size:10pt;
}
.toggle-content h4{
  margin-bottom:0;
}
/* Content Tables */
.toggle-content table{
  width:100%;
  text-align:center;
}
.toggle-content tbody tr:nth-child(even){
  background-color:lightgray;
}
.toggle-content tbody tr:nth-child(odd){
  background-color:#bbbbbb;
}
.toggle-content th{
  background-color:#383838;
  color:#F0F0F0;
}
.rink{
  display:none;
}
.table-title{
  background-color:#383838;
  color:#F0F0F0;
  font-weight:bold;
  text-align:center;
  margin:0 2px;
  height:18px;
}
.scol{
  width:1px;
}
.pcol{
  width:100px;
}
.tcol1{
  width:50px;
}
.tcol2{
  width:120px;
}
.tcol3{
  width:300px;
  min-width:50px;
}
.swegl{
  width:100px;
  text-align:left;
}
.swegr{
  width:200px;
  text-align:left;
}

/* Tooltips */
.tooltip{
  position:relative;
  display: inline-block;
}
.tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px 0px 6px 6px;
  right:105%;
  font-size:10pt;
  font-weight:normal;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Noise */
.toggle-content h1{
  margin:0;
  display:inline-block;
  padding-bottom:10px;
}
.geh img{
  display:block;
  margin:0 auto;
}
.gweh{
  max-width:500px;
  margin:0 auto;
}
.noise-stats{
  border-collapse:collapse;
  margin:10px auto;
  max-width:300px;
}
.noise-stats th,
.noise-stats td{
  background-color:white;
  font-weight:normal;
}
.noise-stats tr:first-child td:first-child{
  font-weight:bold;
}
.noise-stats th{
  color:black;
}
.noise-stats td:first-child,
.noise-stats td:nth-child(2){
  text-align:right;
}
.noise-stats td{
  border-right:1px solid lightgray;
}
.noise-stats th:nth-child(n+2),
.noise-stats tr:last-child td:nth-child(n+2){
  border-bottom:1px solid lightgray;
}
.dink{display:none;}


/* Helpful Alterations */
.floatleft{float:left;}
.floatright{float:right;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}
.nobreak{white-space:nowrap;}
.shrink{display:none;} /* hides this text on mobile size */
.smol{font-size:8pt;}
.smal{font-size:9pt;}
.line{display:inline-block;}
.boldy{font-weight:bold; font-size:9pt;}
.bold{font-weight:bold;}
.notop{margin-top:0;}
.greh{color:gray;}
/* Window Resizing */
/* Default is SMALL size */
@media only screen and (min-width:350px){
  .dink{display:inline;}
}
@media only screen and (min-width:400px){
  .shr1nk{
    display:inline;
  }
  .rink{
    display:inline;
  }
}
@media only screen and (min-width: 760px) {
  .content {
    padding:10px 40px 10px 40px;
  }
  .tab{
    padding:5px 40px;
  }
  body{
    margin: 0 auto;
  }
  .block{
    margin-left:210px;
  }
  .shr1nk{
    display:inline;
  }
}
@media only screen and (min-width:550px){
  .shrink {
    display:inline;
  }
  .topkek img{
    display:inline;
  }
  .aboot img{
    display:none;
  }
  .notimage{
    margin-left:20px;
  }
  .block{
    margin-left:220px;
  }
  .shr1nk{
    display:none;
  }
}
@media only screen and (min-width:600px){
  .shr1nk{
    display:inline;
  }
}
