/* Main styling */
body {
  padding-top:20px;
  font-family: "Roboto", sans-serif;
  font-size:10pt;
  min-width:300px;
  max-width:740px;
  margin:0 10px;
}

.container {
  overflow: hidden;
  outline: 1px solid lightgray;
  min-width:280px;
}

.content {
  padding: 10px;
  display:none;
}

.tabcontainer{
  width:100%;
  min-width:280px;
}

.tabs {
  font-size:12pt;
  outline: 1px solid lightgray;
  height:50px;
  max-width:768px;
  white-space:nowrap;
  overflow-x: auto;
  background: white;
}
.tabs ul{
  list-style: none;
  padding:5px;
  margin:5px;
}
.tabs li{
  display:inline-block;
  padding:0;
}

.tabs li a{
  height:100%;
  text-decoration:none;
}
.tab{padding:5px 20px;margin:0;}
.tabs li a:hover{
  background-color:lightgray;
}
.tabs .active a
{
  background-color:#BBBBBB;
}


/* CSS components */
/* Helpful Alterations */
.floatleft{float:left;}
.floatright{float:right;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.shrink{display:none;} /* hides this text on mobile size */
.smol{font-size:8pt;}
.line{display:inline-block;}
.boldy{font-weight:bold; font-size:9pt;}
.bold{font-weight:bold;}
/* CP Toasts */
.toast {
  max-width:75%;
  position:fixed;
  top:10px;
  right:10px;
  background-color: #383838;
  color: #F0F0F0;
  font-size: 15px;
  padding:10px;
  text-align:center;
  border-radius: 2px;
}
/* Refresh button */
.corner{
  display:block;
  outline:1px solid lightgray;
}
.refresh {
  border:none;
  padding:5px;
}
.refresh:hover{
  cursor:pointer;
}
/* Copy-paste textarea */
.cp-target{
  width:10px;
  border:none;
  resize:none;
  position:fixed;
  top:-100px;
}
/* Overview */
#overview{
  color:black;
}
.overview table{
  width:100%;
}
.overview th{
  background-color:#383838;
  color:#F0F0F0;
}
.overview tr{
  text-align:center;
}
.overview tr:nth-child(even) {
  background-color:lightgray;
}
.overview tr:nth-child(odd) {
  background-color:#BBBBBB;
}
.table-first{
  min-width:90px;
  width:50%;
}
.table-second{
  min-width:70px;
  max-width:125px;
}
.table-thirds{
  min-width:30px;
  max-width:100px;
}
.table-small{
  min-width:30px;
}
.btn{width:100%;margin:0;}

/* CONTENT */
h3{
  background-color:lightgray;
  text-align:center;
  padding:5px 0;
}
/* Summary */
.topkek{
  display:block;
  height:200px;
}
.topkek img{
  max-width:200px;
  display:none;
  float:left;
}
.notimage{
  float:left;
}
.head{
  display:block;
  height:35px;
}
h1{
  margin:0;
}
.neck{
  display:block;
  height:35px;
}
.clicky{
  display:inline;
  float:right;
}
.details{
  display:block;
}
.block{
  padding-top:10px;
  display:block;
}
.block table{
  border:none;
  border-collapse:collapse;
}
.block th,
.block td{
  border-bottom: 1px solid lightgray;
}
.block td:first-child,
.block td:nth-child(n+4){
  border-right: 1px solid lightgray;
}
.block th:first-child,
.block th:last-child,
.block th:nth-child(7),
.block td:last-child,
.block td:nth-child(7){
  border:none;
}
.block td:first-child{
  border-bottom:none;
}
.bwuh{
  width:100%;
  text-align:center;
}
.colhead{
  text-align: right;
  width: 60px;
  padding-right:5px;
}
.blonk{
  min-width:10px;
}
.bweh{
  color:gray;
}
.shr1nk{
  display:none;
}
/* Equipment - Pins */
/* Equipment - Threads */
/* Inventory - Pins */
/* Inventory - Threads */
/* Inventory - Swag */


/* Window Resizing */
/* Default is SMALL size */
@media only screen and (min-width:400px){
  .shr1nk{
    display:inline;
  }
}
@media only screen and (min-width: 760px) {
  .content {
    padding:10px 40px 10px 40px;
  }
  .tab{
    padding:5px 40px;
  }
  body{
    margin: 0 auto;
  }
  .block{
    margin-left:210px;
    margin-right:0px;
  }
  .shr1nk{
    display:inline;
  }
}
@media only screen and (min-width:550px){
  .shrink {
    display:inline;
  }
  .topkek img{
    display:inline;
  }
  .notimage{
    margin-left:20px;
  }
  .block{
    margin-left:220px;
  }
  .shr1nk{
    display:none;
  }
}
@media only screen and (min-width:600px){
  .shr1nk{
    display:inline;
  }
}
